.header{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	.logo-container{
		padding: 25px;
		height: 100%;
		width: 70px;
	}

	.options{
		display: flex;
		align-items: center;
		justify-content: flex-end;/* item on the most right side of the flexbox */
		width: 50%;
		height: 100%;
		.option{
			padding: 10px 15px;
			cursor: pointer;
		}
	}
}